*{
    margin:0;
    padding:0;
    box-sizing: inherit;
    --primary-color: #006a31;
    --active-color: #d50e15;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;/*độ cao chữ 16px*/
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;/*cuộn mượt*/
}

.pd-bottom{
    padding-bottom: 25px;
}

/* header */
.header{
    height:115px;
    padding: 5px 0px;
    background-color:#fff;
}
.grid.header-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color:#fff;
    padding-bottom: 25px;
}
.header-with-logo{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    width: 1110px;
    margin: 0 auto;
}
.header-logo-link{
    background: url('../img/logo.png') top center /cover no-repeat;
    height: 60px;
    width: 247px;
}

.header-delivery-with-serach{
    display: flex;
    align-items: center;
}
.header-delivery{
    background-color: #eee;
    display: flex;
    align-items: center;
    border-radius: 25px;
    height:36px;
    margin-right: 10px;
}
.header-delivery_item{
    height:28px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-size:1.4rem;
    color: rgb(65, 61, 61);
    padding: 5px 0;
}
.header-delivery_item:hover{
    cursor: pointer;
}
.header-delivery_item.active{
    background-color: var(--active-color);
    color: #fff;
    margin: 0 5px;
}
.header-delivery_item-logo{
    padding-left: 15px;
    padding-right: 6px;
}
.header-delivery_item-text{
    font-size: 1.3rem;
    padding-right: 15px;
}

.header-search{
    height:36px;
    width:240px;
    border:1px solid rgb(139, 136, 136);
    border-radius: 25px;
    display: flex;
    position: relative;
    display:none;
}
.block{
    display: block;
}
.header-search-map{
    padding:10px 14px;
    font-size:1.6rem;
    color:rgb(139, 136, 136);
}
.header-search_title{
    border: none;
    outline: none;
    font-size: 1.5rem;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.header-search_title:focus ~ .header-search_store{
    display:block;
}
.header-search_title:focus ~ .header-search{
    border-color: var(--primary-color);
}
.header-search_store{
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    background-color:#fff;
    box-shadow: 0px 2px 10px rgba(0,0,0,.2);
    border-radius:2px;
    display:none;
    z-index: 1;
}
.header-search_store-item{
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}
.header-search_store-list{
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding: 10px 5px 10px 15px;
    border-bottom: 1px solid rgb(216, 216, 216);
}
.header-search_store-list:hover{
    background-color:#006a322d;
}

.header-account{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: rgb(65, 61, 61);
}
.header-account-text{
    padding: 0 5px;
}
.header-account-text:hover{
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: underline;
}

/* Navbar */
.navbar{
    background-color:var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    border-radius: 20px;
    width: 1110px;
    margin: 0 auto;
}
.navbar-select{
    padding-left: 5px;
}
.navbar-list{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar-list_item{
    position: relative;
}
.navbar-list_item-link{
    text-decoration: none;
    padding:7px 15px 5px;
    border-radius:25px;
}
.navbar-list_item-link:hover {
    background-color: #005226;
}
.navbar-list_item:hover .navbar-list_item-text_list{
    display:block;
}
.navbar-list_item:hover .navbar-list_item-link{
    background-color: #005226;
}
.navbar-list_item-text{
    color: #e4efe9;
    font-size: 1.5rem;
    font-weight: 620;
}

.navbar-list_item-text_list{
    list-style: none;
    position: absolute;
    top:31px;
    background-color: #005226;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: none;
}
.navbar-list_item-text_list::before{
    content: "";
    position: absolute;
    top: -18px;
    width:66px;
    height:18px;
    background-color: #005226;
    cursor: pointer;
}
.navbar-list_item-text_item-link{
    text-decoration: none;
    display: inline-block;
    width:200px;
    padding-left:20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-list_item-text_item:hover{
    background-color:var(--primary-color);
}
.navbar-list_item-text_item:last-child:hover{
    background-color:var(--primary-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.navbar-list_item-text_item-text{
    font-size: 1.5rem;
    font-weight: 600;
    color: #e4efe9;
}



.navbar-with-search{
    display: flex;
    padding-right: 5px;
}
.navbar_search{
    font-size:1.7rem;
    color: #e4efe9;
    padding-right: 35px;
    padding-top: 6px;
}

.navbar_cart{
    display: flex;
    background-color: #fff;
    padding: 7px 3px 7px 12px;
    border-radius:25px;
    position: relative;
}
.navbar_cart-link{
    padding-top: 2px;
}
.navbar_cart-icon-link,
.navbar_cart-link{
    text-decoration: none;
    color: var(--primary-color);
}
.navbar_cart-icon-link
.navbar_cart-icon{
    font-size:1.7rem;
}
.navbar_cart-text{
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 2px;
    padding-right: 10px;
}
.navbar_cart-amount{
    padding-top:1px;
    padding-right: 1px;
}
.navbar_cart-count{
    font-size: 1.3rem;
    color:#fff;
    padding: 3px 8px;
    background-color: var(--active-color);
    border-radius:50%;
}

@keyframes cartAnimate{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.navbar_cart:hover .navbar_cart-list{
    display: block;
}
.navbar_cart-list{
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    height: 175px;
    width: 430px;
    background-color:#fff;
    border-radius:3px;
    box-shadow: 0 2px 5px rgb(212, 212, 212);
    animation: cartAnimate ease 0.2s;
    display:none;
    z-index: 1;
}
.navbar_cart-list::before{
    content: "";
    position: absolute;
    right: 10px;
    top: -20px;
    border-width: 14px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.navbar_cart-list::after{
    content: "";
    position: absolute;
    right: 0;
    top: -8px;
    width: 150px;
    height: 10px;
}
.navbar_cart-list-title{
    font-size: 2rem;
    font-weight:700;
    text-align: center;
    padding-top: 40px;
    padding-bottom:20px;
}
.navbar_cart-list-decrip{
    font-size: 1.6rem;
    font-weight:450;
    text-align: center;
    font-weight: 500;
}
.navbar_cart-list-decrip span{
    font-weight: 700;
    color: var(--active-color);
}

/* slider */
.slider{
    width: 1110px;
    margin: 0px auto;
    position: relative;
    padding-top: 25px;
    padding-bottom:35px;
}
img{
    display: block;
    max-width: 100%;
}

.slider-wrapper{
    position: relative;
    width: 100%;
    max-height: 445px;
    overflow: hidden;
    border-radius: 15px;
}

.slider-main {
    position: relative;
    display: flex;
    transition: left 0.7s ease-out;
}
.slider-item {
    height: 100%;
    width: 100%;
    flex: 1 0 100%;
    /* user-select: none; */
}
.slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 10px; */
}

.slider-prev,.slider-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 9px 10px;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
}
.slider-prev{
    left:5px;
}
.slider-next{
    right:5px;
}
.slider-prev:hover,.slider-next:hover{
    background-color:var(--primary-color);
}


/* Container */
.container_header{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.container_header-text{
    font-size:3rem;
    font-weight: 700;
    color:#444;

}
.container_type{
    border-radius: 5px;
    padding-top: 40px;
    transition: all 0.5s linear;
    z-index: 1;
}
.container_type.scroll{
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    width: 1110px;
    margin: 0 auto;
}
.container_type
.container_type-list{
    background-color:#f5f5f5;
    border-radius:10px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}
.container_type-link{
    text-decoration: none;
    color: #333;
    font-weight:700;
    font-size: 1.5rem;
    line-height: 2.8rem;
    margin: 3px 0px;
    list-style: none;
}
.container_type-link.active{
    background-color:var(--active-color);
    color:#fff;
    border-radius: 10px;
}
.container_type-link:hover{
    background-color:var(--active-color);
    color:#fff;
    border-radius: 10px;
}
.container_type-item{
    padding: 0 42px;
}

/* product */
.product-decrip{
    padding-top:30px;
    padding-bottom:20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(202, 202, 202, 0.7);
}
.product-name{
    font-size:2.4rem;
    font-weight:700;
    color:#333;
}
.product-size-list{
    list-style: none;
    display: flex;
}
.product-size_item{
    padding-right: 55px;
    display: flex;
    align-items: center;
}
.product-size_item-img{
    padding-right: 10px;
}
.product-size_item-type{
    font-size:1.6rem;
    color:#333;
}
.product-size_item-price{
    font-size:1.6rem;
    font-weight:700;
    color:var(--active-color);
}

/* product item */
.product-item{
    text-decoration: none;
}
.product-item-show{
    padding-top: 40px;
}
.product-item__img{
    padding-top: 100%;
    padding-left: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.2s linear;
}
.product-item__img:hover{
    transform: rotate(10deg);
}
.product-item__img:hover ~.product-item__name{
    color: var(--primary-color);
}
.product-item__name{
    font-size:1.8rem;
    font-weight:800;
    color:#111;
    padding-top: 25px;
    padding-bottom:50px;
    padding-left: 8px;
    height: 4rem;
}
.product-item__decrip{
    font-size: 1.2rem;
    font-weight:600;
    line-height: 2rem;
    color: rgba(51, 51, 51, 0.75);
    padding-left: 8px;
    height: 4rem;
}
.product-item__wrapper{
    padding-top: 25px ;
    padding-bottom: 30px ;
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
}
.product-item__wrapper-price{
    display: flex;
    flex-direction: column;
}
.product-item__wrapper-price-text{
    font-size: 1.3rem;
    font-weight:700;
    color: rgba(51, 51, 51, 0.75);
    padding-bottom: 4px;
}
.product-item__wrapper-price-number{
    font-size: 2.0rem;
    color:#111;
    font-weight:800;
}
.product-item__wrapper-button{
    height: 35px;
    width: 115px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}
.product-item__wrapper-button:hover{
    background-color: var(--active-color);
    color: #fff;
    border: none;
    transition: 0.2s;
}
.product-item__wrapper-button-text{
    font-size:1.6rem;
}
.product-item__wrapper-button-btn{
    font-size:1.2rem;
}   

/* Cart */
.product-cart{
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    border-bottom: 1px solid rgb(216, 216, 216);
}
.product-cart__img{
    width: 110px;
    height: 108px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 40px;
}
.product-cart__content{
    margin: auto 0;
}
.product-cart__content-title{
    font-size: 1.8rem;
    font-weight:700;
    color:#111;
    margin-bottom: 10px;
}
.product-cart__content-decrip{
    font-size:1.4rem;
    font-weight:600;
    line-height: 2rem;
    color: rgba(51, 51, 51, 0.75);
}
.product-cart__count{
    font-size:2.2rem;
    font-weight:800;
    color: var(--primary-color);
    margin: auto 100px;
}
.product-cart__price{
    font-size: 1.8rem;
    font-weight:700;
    color: rgba(17, 17, 17, 0.9);
    margin: auto 0;
    margin-right: 55px;
    width: 100px;
}
.product-cart__delete{
    margin: auto 0;
    font-size: 2rem;
    color: rgba(17, 17, 17, 0.4);
    cursor: pointer;
}

.product-pay{
    padding-top: 70px;
    padding-bottom: 60px;
    font-size:2.2rem;
    font-weight:700;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}
.product-cart__content{
    width:330px;
}
.product-pay__title{
    color: var(--primary-color);
    padding-right: 10px;
}
.product-pay__price{
    color: var(--active-color);
    font-weight: 800;
}
.product-btn{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 35px;
}
.product-btn__pay{
    width: 230px;
    height: 45px;
    background-color: var(--primary-color);
    font-size: 1.6rem;
    text-decoration: none;
    color: #eee;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-color: transparent;
    cursor: pointer;
}
.product-btn__pay i{
    position: absolute;
    right:15px;
}
.product-btn__pay:hover,.product-btn__return:hover{
    text-decoration:underline;
}
.product-btn__return{
    width: 230px;
    height: 45px;
    background-color: hsla(148, 100%, 21%, 0.8);
    font-size: 1.6rem;
    text-decoration: none;
    color: #eee;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20px;
}
.product-btn__return i{
    position: absolute;
    left:15px;
}



/* Ship */
.ship{
    width: 100%;
    padding-bottom: 50px;
}
.ship-title{
    display: block;
    font-size: 1.5rem;
    color: #111;
    font-weight: 700;
    padding:10px 0;
}
.ship-input{
    height: 40px;
    width:455px;
    padding-left: 15px;
    font-size: 1.4rem;
    border-radius: 10px;
    outline: none;
    border-color: rgba(17, 17, 17, 0.384);
}
.ship-input:focus{
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
.ship-input::placeholder{
    color: hsla(148, 100%, 21%, 0.7);
}
.textarea-input{
    width: 455px;
    padding-left: 15px;
    font-size: 1.4rem;
    border-radius: 10px;
    padding-top: 10px;
}
.ship-logo{
    position: relative;
    top:25%;
    left:25%;
    padding-top: 100%;
    background-repeat: no-repeat;
    margin: auto;
}


/* footer */
.footer{
    background-color:var(--primary-color);
}
.footer__logo{
    padding: 40px 15px;
}
.footer__logo-img{
    width: 232px;
    height: 192px;
    margin: 0 auto;
}
.footer__block:first-child{
    padding: 40px 15px 25px 15px;
    color: #fff;
}
.footer__block:not(:first-child){
    color: #fff;
    padding:0 15px 15px 15px;
}
.footer__block-title{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.8rem;
    padding-bottom: 5px;
}
.footer__block-link{
    color: #fff;
    text-decoration: none;
}
.footer__block-link:hover{
    text-decoration: underline;
}
.footer__block-option{
    font-size: 1.4rem;
    font-weight:400;
    display: block;
    padding-top: 15px;
}
.footer__block-title-vp{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.8rem;
    padding-bottom: 18px;
}
.footer__block-link-vp{
    color: #fff;
    text-decoration: none;
}
.footer__block-option-vp{
    font-size: 1.4rem;
    display: block;
    line-height: 2rem;
}
.footer__block-option-phone{
    color: #fff;
}
.footer__block-social{
    display: flex;
    padding-top: 10px;
    padding-bottom: 25px;
}
.footer__block-title-social{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding-bottom: 20px;
}
.footer__block-social-link{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding-right: 10px;
}
.footer__block-social-link i{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.footer__block-social-link i:hover{
    text-decoration: underline;
}
.footer__block-mail{
    width: 100%;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px ;
    border-radius:25px;
}
.footer__block-mail-input{
    outline:none;
    border:none;
    background-color:transparent;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
}
.footer__block-mail-input::placeholder{
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
}
.footer__block-mail-send{
    display: flex;
    align-items: center;
}
.footer__block-mail-send:hover{
    cursor: pointer;
}
.footer__block-mail-send span{
    font-size: 1.6rem;
    font-weight: bold;
    display: inline-block;
}
.footer__block-mail-send i{
    font-size: 1.4rem;   
    display: inline-block;
    padding-left: 5px;
}
.footer__block-res{
    padding-top: 10px;
}
.footer__block-bct{
    width: 134px;
    height: 54px;
    object-fit: contain;   
}
.footer__copyright{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer__copyright-text{
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
}